.header{
    width: 100%;
    height: 200px;
    background-color: cornflowerblue;
}
.banner{
    width: 100%;
    height: 120px;
    background-color: lightpink;
}
.content{
    width: 100%;
    height: 120px;
    background-color: palegreen;
}
.bottom-content{
    width: 100%;
    height: 130px;
    background-color: lightgray;
}
.footer{
    width: 100%;
    height: 80px;
    background-color: darkgrey;
}
.main-body{
    height: auto;
}