<div class="main-body">
  <div class="header">
   <p>Header</p>
  </div>
  <div class="banner">
   <p>Banner </p>
  </div>
  <div class="bottom-content">
    <p>Bottom</p>
  </div>
  <div class="footer">
    <p>Header</p>
  </div>
</div>